<div class="geral internas container">

    <header>
      <div class="topo row">
        <div class="banner">
            <div class="col-xs-8 col-sm-8 col-md-8 txtLeft"><img src="img/contatos.png" /></div>
            <div class="logo col-xs-4 col-sm-4 col-md-4"><img src="img/vertical-vert.png" /></div>
            <div class="nome col-xs-12 col-sm-12 col-md-12">{{usuario.name}}</div>
        </div>
      </div>
    </header><!-- /*topo -->

    <section>
        <div class="meio contato">
            <div class="barra-titulo row">
                <div class="titulo col-xs-10 col-sm-11 col-md-11">Escolha uma das opções abaixo</div>
                <div class="ico-home col-xs-2 col-sm-1 col-md-1"><a href="#/home"><img src="img/ico-casa.png" /></a></div>
            </div>

            <div class="menu row">
                <ul>
                    <li class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#"><img src="img/contato_localizacao.jpg" class="img-responsive" /></a>
                    </li>

                    <li class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#"><img src="img/contato_fone.jpg" class="img-responsive" /></a>
                    </li>
                </ul>
            </div>

            <div class="formulario row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <input type="text" id="nome" class="form-control" placeholder="Nome" name="nome">
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <input type="text" id="email" class="form-control" placeholder="E-mail" name="email">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <input type="text" id="telefone" class="form-control" placeholder="Telefone" name="telefone">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <input type="text" id="assunto" class="form-control" placeholder="Assunto" name="assunto">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <textarea id="mensagem" class="form-control" placeholder="Mensagem" name="mensagem"></textarea>
                </div>                                              
            </div>

            <div class="botoes col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-12 txtAlignCenter">
                    <a class="votar btn btn-block" href="#">Enviar</a>
                </div>
            </div>
        </div>
    </section><!-- /*meio -->

</div><!-- /*geral -->