<div class="geral internas container animated fadeIn">

    <header>
      <div class="topo row">
        <div class="banner">
            <div class="col-xs-8 col-sm-8 col-md-8 txtLeft"><img src="img/fale-com-a-comissao.png" /></div>
            <div class="logo col-xs-4 col-sm-4 col-md-4"><img src="img/vertical-vert.png" /></div>
            <div class="nome col-xs-12 col-sm-12 col-md-12">{{usuario.name}}</div>
        </div>
      </div>
    </header><!-- /*topo -->

    <section>
        <div class="meio comissao">
            <div class="barra-titulo row">
                <div class="titulo col-xs-10 col-sm-11 col-md-11">Preencha as opções abaixo</div>
                <div class="ico-home col-xs-2 col-sm-1 col-md-1"><a href="#/home"><img src="img/ico-casa.png" /></a></div>
            </div>

            <div class="formulario row animated fadeInDown">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <input type="text" id="nome" class="form-control" placeholder="Nome" name="nome" ng-model="contato.nome">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <input type="text" id="assunto" class="form-control" placeholder="Assunto" name="assunto" ng-model="contato.assunto">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <textarea id="mensagem" class="form-control" placeholder="Mensagem" name="mensagem" ng-model="contato.mensagem"></textarea>
                </div>                                              
            </div>

            <div class="botoes col-xs-12 col-sm-12 col-md-12 animated fadeInUp">
                <div class="col-xs-12 col-sm-12 col-md-12 txtRight">
                    <a class="votar btn btn-block" ng-click="enviar()">Enviar</a>
                </div>
            </div>
        </div>
    </section><!-- /*meio -->

</div><!-- /*geral -->