<div class="geral internas container">

    <header>
      <div class="topo row">
        <div class="banner">
            <div class="col-xs-8 col-sm-8 col-md-8 txtLeft"></div>
            <div class="logo col-xs-4 col-sm-4 col-md-4"><img src="img/vertical-vert.png" /></div>
            <div class="nome col-xs-12 col-sm-12 col-md-12">{{usuario.name}}</div>
        </div>
      </div>
    </header>

    <section>

        <div class="meio situacaoFinanceira">
            <div class="barra-titulo row animated fadeInDown">
                <div class="col-xs-3 col-sm-2 col-md-2"><img src="img/ico-cod-barra.png" /></div>
                <div class="titulo col-xs-7 col-sm-9 col-md-9">SITUAÇÃO FINANCEIRA</div>
                <div class="ico-home col-xs-2 col-sm-1 col-md-1"><a href="#/home"><img src="img/ico-casa.png" /></a></div>
            </div>

            <div class="nav row animated fadeInUp">
                <ul>
                    <li class="col-xs-12 col-sm-12 col-md-12"><a href="#/boletopago">Boletos Pagos</a></li>
                    <li class="col-xs-12 col-sm-12 col-md-12"><a href="#/boletoaberto">Boletos Não Pagos</a></li>
                </ul>
            </div>
        </div>

        <!--
        <li class="col-xs-12 col-sm-12 col-md-12" ng-repeat="boleto in boletos" ng-click="detalhes(boleto)">{{boleto}}</li>
        -->

    </section><!-- /*meio -->

</div><!-- /*geral -->